.pageStyles
  color: #232129
  padding: 96
  font-family: Inter
  display: flex
  flex-direction: column
  align-items: center


.logoStyles
  height: 20rem
  width: 20rem


.headingStyles
  margin: 0
  color: #155799

.login 
  display: flex
  flex-direction: column
  align-items: center

  div
    display: flex
    align-items: center

  img
    height: 2rem
    width: 2rem
    margin: 0 1rem

  button
    padding: 0.6rem 0.9rem
    font-size: 0.9rem
    margin-bottom: 1rem
    color: rgba(255,255,255,0.7)
    border: solid 1px rgba(255,255,255,0.2)
    border-radius: 0.3rem
    transition: color 0.2s, background-color 0.2s, border-color 0.2s  
    background-color: #159957
    background-image: linear-gradient(120deg, #155799, #159957)


