{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "object-curly-newline": ["error", { "multiline": true }],
    "comma-dangle": ["error", "always-multiline"],
    "import/prefer-default-export": 0,
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "import/extensions": 0,
    "no-underscore-dangle": ["error",  { "allowAfterThis": true }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  }
}
